:root {
  /* 色 */
  /* primary */
  --primary-400: #3b6779;
  --primary-500: #4394b4;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-300: #dbe0ea;
  --grey-1000: #333538;

  /* 残り */
  --black: #222;
  --white: #fff;
  --red-dark: #c84052;
  --green-dark: #1d926b;
  --red-light: #ffaab6;
  --green-light: #95ffdc;

  /* typography */
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
  /* 残り */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1280px;
  --fixed-width: 600px;
  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  border:  black solid 1px;
}
body {
  background: var(--backgroundColor);
  background-image: url(./img/JanKenPong.png);
  background-position-x:0;
  background-position-y:0;
  background-repeat: no-repeat;
  background-color: #c88d40;

  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  width: var(--max-width);
}

header {
  display: grid;
  margin: auto;
  width: 470px;
  height: 75px;
  place-items: center;
}
head > p {
  font-size: 5px;
}
.chat {
  width: 650px;
  height: 100px;
  margin: auto;
}
.chats_container {
  padding: ;
  margin: auto;
  width: 650px;
  height: 710px;
}
footer {
  height: 25px;
  width: 800px;
  margin: auto;
  color: white;
  text-align: center;
  padding: 3px;
}
