:root {
  /* 色 */
  /* primary */
  --primary-400: #3b6779;
  --primary-500: #4394b4;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-300: #dbe0ea;
  --grey-1000: #333538;

  /* 残り */
  --black: #222;
  --white: #fff;
  --red-dark: #c84052;
  --green-dark: #1d926b;
  --red-light: #ffaab6;
  --green-light: #95ffdc;


  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1280px;
  --fixed-width: 600px;
  --stardard-margin: 5px;
  --chat-padding: 10px;
  --border-radius: 20px

}

* {
  margin: 0;
  padding: 0;
  /* border:  black solid 1px; */
}
body {
  background: var(--backgroundColor);
  background-image: url(./img/JanKenPong.png);
  background-position-x:0;
  background-position-y:0;
  background-repeat: no-repeat;
  background-color: #c88d40;

  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  width: var(--max-width);
  color: white;
  font-size: 18px;
}
h1 {
  color: green;
}

header {
  display: grid;
  margin: auto;
  width: 470px;
  height: 75px;
  place-items: center;

}


head > p {
  font-size: 5px;
}
.label_user_name {
  font-size: 12px;
}
.user_name {
  margin: var(--stardard-margin);
  width: 120px;
  height: 30px;
  font-size: 18px;
}
.user_chat {
  margin: var(--stardard-margin);
  font-size: 20px;
  width: 350px;
}
.user_register {
  width: 650px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.user_register_title {
  margin-right: 5px;
}

.chat {
  width: 650px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.btn {
  height: 30px;
  width:  60px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0px 3px #5f5f63;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.fa-trash {
  margin-left: 5px;
  cursor: pointer;
}

.chats_container {
  margin: auto;
  width: 650px;
  height: 740px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.my_chat_left {
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: var(--stardard-margin);
}

.others_chat_right {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: var(--stardard-margin);
}

.chat_id {
  height: 20px;
  width: 100px;
  visibility: hidden;
  margin: var(--stardard-margin);
  
}
.chat_user_name {
  height: 20px;
  width: 100px;
  margin: var(--stardard-margin);
}
.chat_time {
  height: 20px;
  width: 100px;
  margin: var(--stardard-margin);
}

.chat_my_chat {
  width: fit-content;
  margin: var(--stardard-margin);
  padding: var(--chat-padding);
  background-color: rgba(40, 141, 116, 0.931);
  border-radius: var(--border-radius);
}

.chat_others_chat {
  width: fit-content;
  margin: var(--stardard-margin);
  padding: var(--chat-padding);
  background-color: rgba(168, 51, 129, 0.892);
  border-radius: var(--border-radius);

}

footer {
  height: 25px;
  width: 800px;
  margin: auto;
  color: white;
  text-align: center;
}
